.roomCard {
    display: flex;
    border: 1px solid black;
    margin-bottom: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
    margin-bottom: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 40px;
    max-width: 650px;
    margin-top: 10px;
    /* width: 100%; */
}

.roomCard p {
    margin-right: 10px;
}

.roomCard .cardBlock {
    margin-left: 5px;
}

.roomCard div {
    cursor: pointer;
}

.roomCard img {
    display: inline-block;
    /* position: absolute; */
    /* z-index: 4; */
    width: 20px;
    margin-bottom: 5px;
    cursor: pointer;

    /* right: 20px; */
    height: 25px;
}