.filterpage {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.row {
    display: flex;
    margin-top: 40px;
    width: 80%;
}

.col-1-of-2{
    width: 30%;
}

.col-2-of-2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.priceForm input{
    display: inline;
    max-width: 220px;
    margin-left: 10px;
}

.filterpage .searchBar {
    display: inline-block;
    width: 400px;   
}
.filterpage .search-button-container{
    display: inline-flex;
}